@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
	font-family:"Lato";
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */

body{
	font-family: "Lato", arial,helvetica;
	color: #333;
  padding: 0 !important;
	/*color: rgba(0,0,0,0.5);*/
}
h1{
	font-size: 2em;
	color: rgb(64, 255, 111);
}
p{
	/*font-size: 2em;*/
	/*color: #FFFFFF;*/
}

/* Bootstrap overrides
 * --------------------------------------- */
.navbar-inverse {
    background-color: rgb(29, 33, 35);
    background-image: none;
    border-color: #1D2123;
    font-size: 20px;
    font-family: "Lato";
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
}
.navbar-inverse .navbar-nav {
margin-top: 10px;
margin-bottom: 10px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

/* Sections
 * --------------------------------------- */
#section0 img,
#section1 img{
  margin: 20px 0 0 0;
}
#section2 img{
  margin: 20px 0 0 52px;
}
#section3 img{
  bottom: 0px;
  position: absolute;
  margin-left: -420px;
}
.intro p{
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
.twitter-share-button{
  position: absolute;
  z-index: 99;
  right: 149px;
  top: 9px;
}

.section{
	text-align:center;
}

.section, #section1 {
	background-color:#FFFFFF;
	border-bottom:thin solid rgb(64, 255, 111);
	border-top:medium solid rgb(64, 255, 111);
}


#wrapper {
  background-color: rgb(29, 33, 35);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1483px;
  height: 70px;
  z-index: 51;
}

#LOGO, .navbar-brand {
	position: absolute;
  left: 70px;
  padding: 12px;
  height: auto;
}

#menu{
	position:fixed;
	color: rgb(51, 255, 102);
	width:1000px;
	left:52%;
	margin-left:-270px;
	top: 15px;
	height: 40px;
	z-index: 55;
	float:none;
	font-size: 20px;
    font-family: "Lato";
	font-weight:300;
	text-transform: uppercase;
    line-height: 1.2;
}

#menu li {
	display:inline-block;
	margin: 8px;

}

#menu li a{
	text-decoration:none;
	color: #FFFFFF;

}

#menu li.active a{
	color: #70E877;
}

#PINPO {
  font-size: 120px;
  font-family: "Lato";
  color: rgb(51, 255, 102);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;


}

.Pinpoint_your_dream_flat {
  font-size: 28px;
  font-family: "Lato";
  font-weight:300;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  z-index: 56;
}

.feature{
	font-weight: 300;
	padding: 90px;
  }
  .feature img {
    cursor: pointer;
    margin: 20px;
  }

#step {
	padding: 20px;
	border: 2px solid rgb(64, 255, 111);
	border-radius: 22%;
}

#next {
   background-image: -moz-linear-gradient( 45deg, rgb(45,111,162) 0%, rgb(64,255,111) 100%);
   background-image: -webkit-linear-gradient( 45deg, rgb(45,111,162) 0%, rgb(64,255,111) 100%);
   background-image: -ms-linear-gradient( 45deg, rgb(45,111,162) 0%, rgb(64,255,111) 100%);
}

#titreslide {
   border-bottom:dotted;
}

.blocglobal {
  white-space:nowrap;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -33px;
}

.bloc1 {
   vertical-align:bottom;
}

.bloc2 {
   vertical-align:top;
   margin-top:0px;
   padding-bottom:0px;
   margin:0px;
}


#contact_form {
	text-align:center;
}





