$icon-font-path: "../bower_components/sass-bootstrap/fonts/";
$fa-font-path: "../bower_components/font-awesome/fonts";

$pinpo-green: #3F6;
$dark-grey: #333;
$text-color: #666;

$btn-default-color: $dark-grey;
$brand-primary: $pinpo-green;
$btn-success-bg: $pinpo-green;
$btn-success-color: $dark-grey;
$input-border-focus: $pinpo-green;

@import 'sass-bootstrap/lib/variables';

$font-family-sans-serif: "Lato", arial,helvetica;
$headings-color: $pinpo-green;

$hr-border: $pinpo-green;

$navbar-height: 70px;
$navbar-inverse-bg: #1D2123;
$navbar-inverse-border: $navbar-inverse-bg;
$navbar-inverse-color: $gray;
$navbar-inverse-link-color: $navbar-inverse-color;
$navbar-inverse-link-hover-color: $pinpo-green;
$navbar-inverse-link-active-color: $pinpo-green;
$navbar-inverse-link-active-bg: #1D2123;

@import 'sass-bootstrap/lib/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import 'fullpage.js/jquery.fullPage';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* Bootstrap overrides
 * --------------------------------------- */

.navbar {
    &.navbar-inverse {
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
    }

    .navbar-nav {
        > li > a {
            padding-left:   30px;
            padding-right:  30px;
        }

        @media (min-width: 768px) {
            & {
                float:none;
                margin: 0 auto;
                display: table;
                table-layout: fixed;
            }
        }
    }

    .navbar-brand {
        position: absolute;
        left: 70px;
        padding: 12px;
    }

    .navbar-contact {
        position: absolute;
        right: 70px;
        top: 0;
    }
}

.fp-controlArrow{
    &.fp-prev {
        border-color: transparent #271313 transparent transparent;
    }
    &.fp-next {
        border-color: transparent transparent transparent #271313;
    }
}

.section {
    text-align:center;
    border-bottom:thin solid rgb(64, 255, 111);
    border-top:medium solid rgb(64, 255, 111);
    &.section-default {
        background-color:#FFFFFF;
    }
    &.section-inverse {
        background-color: #23262C;
        color: $pinpo-green;
    }
}

h1#PINPO {

    font-size: 120px;
    text-align: center;

    small {
        display: block;
        color: #FFF;
        font-size: 28px;
        font-weight:300;
        line-height: 1.2;
        text-align: center;
        z-index: 56;
    }
}

@mixin linear-border-image($start-color, $end-color) {
    -webkit-border-image: -webkit-gradient(linear, 100% 0, 0 0, from($start-color), to($end-color)) 100% 1;
    -webkit-border-image: -webkit-linear-gradient(right, $start-color, $end-color) 100% 1;
    -moz-border-image: -moz-linear-gradient(right, $start-color, $end-color) 100% 1;
    -o-border-image: -o-linear-gradient(right, $start-color, $end-color) 100% 1;
    border-image: linear-gradient(to right, $start-color, $end-color) 100% 1;
}

h2.titreslide {

    margin-bottom: 40px;

    // span {
        border-top: 0;
        border-bottom:3px solid $pinpo-green;;
        @include linear-border-image($pinpo-green, rgba(51, 255, 102,0));
    // }

}

.feature {
    font-weight: 300;
    padding: 90px;

    &.feature-img {
        img { margin: 20px; }
    }

    &.feature-description {
        margin-top: 50px;
        p { margin-bottom: 30px; }
        img { cursor: pointer; }
    }
}

img.step {
    padding: 20px;
    border: 2px solid rgb(64, 255, 111);
}

.blocglobal {
  white-space:nowrap;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -33px;

  img {
    display: block;
    margin: auto;
  }
}

form {
    &#signup { margin: 30px; }
    input.form-control.form-control-inverse {
        background-color: #1D2123;
        color: white;
    }
    textarea { resize:none }
}

footer {
    position: absolute;
    bottom: 0px;
    margin-bottom: 50px;

    .coming-soon {
        img { margin-right: 30px; }
    }
}
